html{
  height: 100%;
}
body {
    font: 1.5rem "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100%;
    background: linear-gradient(0deg, rgb(163, 56, 68) 1%, rgb(42, 30, 71) 35.6% );
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgb(42, 30, 71);
    border-radius: 5px;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    height: 2em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2em;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .highlight{
    background: violet;
  }
  